@inherits LayoutComponentBase

<div class="d-flex flex-row-lg">
    <NavMenu/>

    <main>
        <article style="margin-top: 4rem; margin-bottom: 4rem;">
            @Body
        </article>
    </main>
</div>